<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="project.css">
    <title>学术家族树</title>
</head>

<body>
    <div id="app">
        <el-dialog title="请输入信息" :visible.sync="dialog1Visible" :modal-append-to-body='false'
            :close-on-click-modal='false'>
            <el-form :model="form">
                <el-form-item label="姓名">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="技能或工作经历">
                    <el-input v-model="form.info"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog1Visible = false">取消</el-button>
                <el-button type="primary" @click="handleClose1()">确定</el-button>
            </span>
        </el-dialog>
        <el-dialog title="请输入信息" :visible.sync="dialog2Visible" :modal-append-to-body='false'
            :close-on-click-modal='false'>
            <el-form :model="form">
                <el-form-item label="学生类型">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog2Visible = false">取消</el-button>
                <el-button type="primary" @click="handleClose2()">确定</el-button>
            </span>
        </el-dialog>
        <el-row :gutter="10">
            <el-col :span="8">
                <el-input id="input" type="textarea" placeholder="输入示例：
导师：张三
2016级博士生：天一、王二、吴五
2015级硕士生：李四、王五、许六
2016级硕士生：刘一、李二、李三
2017级本科生：刘六、琪七、司四

刘六：JAVA、数学建模

李二：字节跳动、京东云" v-model="inputData" autofocus resize="none">
                </el-input>
                <br><br>
                <div style="text-align: center;">
                    <el-upload accept=".txt" :file-list="fileList" :auto-upload="false" :on-change="elInFile" action=""
                        :show-file-list="false">
                        <el-button id="upload" type="info" plain>选择文件 (UTF-8 编码)
                        </el-button>
                    </el-upload>
                </div>
                <el-row id="button" type="flex" justify="center">
                    <el-button type="primary" @click="processInput">生成家族树</el-button>
                    <el-button @click="clearData">清空</el-button>
                </el-row>
                <el-col :span="16">
                    <el-input placeholder="输入姓名搜索" id="search" v-model="filterText">
                    </el-input>
                    <div id="hint">
                        <h1>欢迎使用学术家族树系统！</h1>
                        <h2>使用说明</h2>
                        <ul>
                            <li>请在左侧输入框内按格式输入师生信息，或者选择文本文件，并点击生成家族树按钮。</li>
                            <li>上方的搜索框可以用于搜索师生姓名。</li>
                            <li>点击结点左侧的三角号可以展开或收缩子结点。</li>
                            <li>如果有填写导师或学生的个人资料（技能、工作经历等），可以点击结点左侧的蓝色头像图标查看。</li>
                            <li>如果需要对数据做简单的编辑、添加、删除，可以使用结点右侧的按钮。</li>

                        </ul>
                        <h2>注意事项</h2>
                        <ul>
                            <li>请严格按照输入框提示的规范输入数据。多余的空格、半角标点等都会被视为输入错误。</li>
                            <li>如果使用文本文件作为输入，只能使用 UTF-8 编码且后缀名为 txt 的文件。</li>
                            <li>同一导师名下且同年级的学生请写在同一行里。不同行的数据不会自动整合。</li>
                            <li>每次生成家族树前会先将已有数据清空，如需添加树请直接加在输入框已有数据后面。</li>
                            <li>人员的技能和工作经历信息需要写在当前树的人员信息结束之后，下一颗树开始之前。</li>
                            <li>如需关联两棵树，需要将包含“祖先”导师的树放在前面。暂不支持通过右侧结点的添加按钮生成关联树。</li>
                    </div>
                    <el-tree class="filter-tree" id="tree" :data="data" :props="defaultProps" node-key="id"
                        default-expand-all :filter-node-method="filterNode" draggable :expand-on-click-node="false"
                        hidden ref="tree">
                        <span class="custom-tree-node" slot-scope="{ node, data }">
                            <span>
                                <el-tooltip v-if="data.info" class="item" effect="dark" content="查看资料" placement="top">
                                    <el-button type="text" icon="el-icon-user" @click="() => retrieveInfo(data)">
                                    </el-button>
                                </el-tooltip>
                                <el-button v-else-if="data.level != 1" type="text" style="color: gray;"
                                    icon="el-icon-user">
                                </el-button>
                            </span>
                            <span v-if="data.level == 0 || data.level == 3"
                                style="font-weight: 700">{{ node.label }}</span>
                            <span v-else>{{ node.label }}</span>
                            <span>
                                <el-tooltip class="item" effect="dark" content="修改" placement="top">
                                    <el-button type="text" icon="el-icon-edit-outline" @click="() => modify(data)">
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip v-if="data.level != 2" class="item" effect="dark" content="添加"
                                    placement="top">
                                    <el-button type="text" icon="el-icon-plus" @click="() => append(node, data)">
                                    </el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="删除" placement="top">
                                    <el-button type="text" icon="el-icon-minus" @click="() => remove(node, data)">
                                    </el-button>
                                </el-tooltip>
                            </span>
                        </span>
                    </el-tree>
                    <div class="grid-content"></div>
                </el-col>
        </el-row>
    </div>
</body>


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="project.js"></script>

</html>