body {
    background-image: url("background.jpeg");
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: cover;
}

#app {
    opacity: 0.75;
    color: black;
}

/* 数据输入框 */
#input {
    left: 2%;
    top: 3%;
    color: black;
    font-family: sans-serif;
    position: fixed;
    height: 82%;
    width: 30%;
}

/* 按钮 */
#upload {
    left: 2%;
    position: fixed;
    height: 5%;
    line-height: 5%;
    width: 30%;
    top: 85%;
    text-align: center;
}

/* 按钮 */
#button {
    left: 2%;
    position: fixed;
    height: 6%;
    line-height: 6%;
    width: 30%;
    bottom: 3%;
}

/* 搜索框 */
#search {
    right: 2%;
    top: 3%;
    position: fixed;
    height: 5%;
    line-height: 5%;
    width: 65%;
}

#hint {
    right: 2%;
    top: 11%;
    margin-bottom: 3%;
    padding: 1%;
    background-color: white;
    border-radius: 3px;
    position: fixed;
    height: 82%;
    width: 63%;
    overflow: auto;
    line-height: 175%;
}

/* 树 */
#tree {
    right: 2%;
    top: 11%;
    margin-bottom: 3%;
    padding: 1%;
    position: fixed;
    height: 82%;
    width: 63%;
    overflow: auto;
}

/* 设置树形最外层的背景颜色和字体颜色 */
.el-tree {
    color: black;
    border-radius: 3px;
    /* background: transparent; */
}